Hubert.Przegendza.ćw6/r6_Client/web/WEB-INF/wsdl/localhost_8080/r6_WebService/BTGWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.web.lab.polsl.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.web.lab.polsl.pl/" name="BTGWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.web.lab.polsl.pl/" schemaLocation="http://localhost:8080/r6_WebService/BTGWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="WSException">
<part name="fault" element="tns:WSException"/>
</message>
<message name="MyException">
<part name="fault" element="tns:MyException"/>
</message>
<message name="getUserList">
<part name="parameters" element="tns:getUserList"/>
</message>
<message name="getUserListResponse">
<part name="parameters" element="tns:getUserListResponse"/>
</message>
<message name="getResultList">
<part name="parameters" element="tns:getResultList"/>
</message>
<message name="getResultListResponse">
<part name="parameters" element="tns:getResultListResponse"/>
</message>
<message name="getCalculationList">
<part name="parameters" element="tns:getCalculationList"/>
</message>
<message name="getCalculationListResponse">
<part name="parameters" element="tns:getCalculationListResponse"/>
</message>
<message name="CalculateBergerTable">
<part name="parameters" element="tns:CalculateBergerTable"/>
</message>
<message name="CalculateBergerTableResponse">
<part name="parameters" element="tns:CalculateBergerTableResponse"/>
</message>
<message name="getHistoryList">
<part name="parameters" element="tns:getHistoryList"/>
</message>
<message name="getHistoryListResponse">
<part name="parameters" element="tns:getHistoryListResponse"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="unRegister">
<part name="parameters" element="tns:unRegister"/>
</message>
<message name="unRegisterResponse">
<part name="parameters" element="tns:unRegisterResponse"/>
</message>
<portType name="BTGWebService">
<operation name="register">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/registerResponse" message="tns:registerResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/register/Fault/WSException"/>
<fault message="tns:MyException" name="MyException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/register/Fault/MyException"/>
</operation>
<operation name="getUserList">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getUserListRequest" message="tns:getUserList"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getUserListResponse" message="tns:getUserListResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getUserList/Fault/WSException"/>
<fault message="tns:MyException" name="MyException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getUserList/Fault/MyException"/>
</operation>
<operation name="getResultList">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getResultListRequest" message="tns:getResultList"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getResultListResponse" message="tns:getResultListResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getResultList/Fault/WSException"/>
</operation>
<operation name="getCalculationList">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getCalculationListRequest" message="tns:getCalculationList"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getCalculationListResponse" message="tns:getCalculationListResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getCalculationList/Fault/WSException"/>
</operation>
<operation name="CalculateBergerTable">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/CalculateBergerTableRequest" message="tns:CalculateBergerTable"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/CalculateBergerTableResponse" message="tns:CalculateBergerTableResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/CalculateBergerTable/Fault/WSException"/>
<fault message="tns:MyException" name="MyException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/CalculateBergerTable/Fault/MyException"/>
</operation>
<operation name="getHistoryList">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getHistoryListRequest" message="tns:getHistoryList"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getHistoryListResponse" message="tns:getHistoryListResponse"/>
<fault message="tns:MyException" name="MyException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getHistoryList/Fault/MyException"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/getHistoryList/Fault/WSException"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/checkLoginResponse" message="tns:checkLoginResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/checkLogin/Fault/WSException"/>
</operation>
<operation name="unRegister">
<input wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/unRegisterRequest" message="tns:unRegister"/>
<output wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/unRegisterResponse" message="tns:unRegisterResponse"/>
<fault message="tns:WSException" name="WSException" wsam:Action="http://services.web.lab.polsl.pl/BTGWebService/unRegister/Fault/WSException"/>
</operation>
</portType>
<binding name="BTGWebServicePortBinding" type="tns:BTGWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
<fault name="MyException">
<soap:fault name="MyException" use="literal"/>
</fault>
</operation>
<operation name="getUserList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
<fault name="MyException">
<soap:fault name="MyException" use="literal"/>
</fault>
</operation>
<operation name="getResultList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="getCalculationList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="CalculateBergerTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
<fault name="MyException">
<soap:fault name="MyException" use="literal"/>
</fault>
</operation>
<operation name="getHistoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MyException">
<soap:fault name="MyException" use="literal"/>
</fault>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
<operation name="unRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BTGWebService">
<port name="BTGWebServicePort" binding="tns:BTGWebServicePortBinding">
<soap:address location="http://localhost:8080/r6_WebService/BTGWebService"/>
</port>
</service>
</definitions>